<div id="container">
  <header>
    <h1>Ember Gallery</h1>
  </header>
  <div class="slice">
    <div class="middle">
      <h2>Sign in!</h2>
      <div class="error"><%= flash.now[:signin] %></div>
      <form class="" action="signin" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="tabular">
          <div class="labels">
            <label for="email">email:</label>
            <label for="password">password:</label>
          </div>
          <div class="inputs">
            <input type="text" name="user[email]" id="email" value="<%= @autofill_email %>">
            <input type="password" name="user[password]" id="password">
          </div>
        </div>
        <div class="button">
          <input class="button" type="submit" name="name" value="Sign In">
        </div>
        <div class="text">
          Or, if you have an invite:
          <a href="/signup">Sign Up!</a>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <div>
      <h1>Menu</h1>
      <ul>
        <li>Stuff</li>
        <li>Things</li>
        <li>We're Hiring!</li>
        <li>Sorry, just kidding :(</li>
      </ul>
    </div>
    <div>
      <h1>Another Menu</h1>
      <ul>
        <li>Cool!</li>
        <li>All right!</li>
        <li>Check it!</li>
      </ul>
    </div>
    <div>
      <h1>OK!</h1>
      <ul>
        <li>Sweet!</li>
        <li>Cool beans!</li>
      </ul>
    </div>
  </footer>
</div>
