<div class="everything">
  <header>
    <h1>Ember Gallery</h1>
    <span>
      Signed in as Doot McDoot
      <a href="/signout">Sign Out</a>
    </span>
  </header>
  <main>
    <div class="galleries">
      <div class="gallery">
        First Gallery
      </div>
      <div class="gallery active">
        Doot McDoot
      </div>
      <div class="gallery">
        Last Gallery
      </div>
      <div class="gallery">
        Cool Galllery
      </div>
      <div class="gallery">
        + Create New Gallery
      </div>
    </div>
    <div class="settings">
      <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="panel">
        cool
      </div>
    </div>
  </main>
</div>
