
$dark: #033649;
$light: white;

@keyframes swiveltoright {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(15deg); }
}

@keyframes swiveltoleft
{
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-15deg); }
}

html, body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div
{
  box-sizing: border-box;
}

div#container
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header
{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: $dark;

  h1
  {
    flex: 1 0 auto;
    font-size: 3vw;
    margin: 2vw;
    padding: 0;
    color: white;
  }

  nav
  {
    margin: 2vw;
    form
    {
      color: $light;

      label
      {
        font-size: 1vw;
        margin-left: 1vw;
      }
      input
      {
        font-size: 1vw;
        background: rgba( 1, 1, 1, 0.25 );
        padding: 0.5vw;
        border: 0px;
        color: white;
      }
      input.button
      {
        padding: 0.5vw 1vw;
        margin-left: 1vw;
      }
    }
  }
}

div.slice
{
  max-width: 100%;
  display: flex;

  padding: 4vw;
  font-size: 1.25vw;

  justify-content: center;

  div.left, div.right
  {
    flex: 1 0 auto;

    margin: 1vw;
    padding: 1vw;
    max-width: 40vw;

    perspective: 1000px;

    h1
    {
      font-size: 2.5vw;
    }

    img
    {
      max-width: 100%;
      height: auto;

      box-shadow: 0 0.25vw 1vw rgba(0,0,0,0.5);
    }
  }

  div.left
  {
    img
    {
      transform: rotateY(15deg);
      animation: 3s swiveltoright;
    }
  }

  div.right
  {
    img
    {
      transform: rotateY(-15deg);
      animation: 3s swiveltoleft;
    }
  }
}

div.slice:nth-child(odd)
{
  background-color: $dark;
  color: $light;
}

div.slice:nth-child(even)
{
  background-color: $light;
  color: $dark;
}

footer
{
  background-color: $dark;
  color: $light;
  display: flex;

  justify-content: center;

  padding: 1vw;

  font-size: 1.25vw;
  div
  {
    flex: 1 0 auto;

    padding: 1vw;
    margin: 1vw;
    max-width: 20vw;

    h1
    {
      font-size: 1.5vw;
      margin: 0 0 1vw 0;
    }

    ul
    {
      padding: 0;
      li
      {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}
