// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light: white;
$dark: #033649;
$medium: #077dab;
$shadow: #022431;

html, body
{
  height: 100vh;
  font-family: "Bitter";
}

div.landing
{
  height: 100vh;
  background-color: $light;
  color: $dark;

  display: flex;
  div.floater
  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform-style: preserve-3d;

    text-align: center;
    h1
    {
      margin: 5px;
      padding: 5px;
    }
    p
    {
      margin: 5px;
      padding: 5px;
    }
    form
    {
      width: 350px;
      display: flex;
      flex-direction: column;

      transform-style: preserve-3d;
      span
      {
        display: flex;
        label
        {
          min-width: 25%;
        }
        input
        {
          flex: 1 0 auto;
        }
      }
      label
      {
        font-size: 14px;
        padding: 5px;
      }
      input
      {
        font-size: 14px;
        padding: 5px;
        margin: 0 5px 5px 5px;
        background-color: $dark;
        color: $light;


        border-radius: 5px;

        transition: 0.1s;
      }
      input.button
      {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        transform: translateZ(0px);

      }
      input.button:hover
      {
        transform: translateZ(40px);
      }
      input.button:active
      {
        transform: translateZ(0px);
      }
    }
  }
  div.left
  {
    flex: 1 0 auto;
    background-color: $dark;
    color: $light;

    perspective: 1000px;
    perspective-origin: 100% 60%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    form
    {
      label
      {
        text-align: right;
      }
      input
      {
        background-color: $light;
        color: $dark;
      }
    }
  }

  div.right
  {
    flex: 1 0 auto;
    background-color: $light;
    color: $dark;
    max-width: 50vw;

    perspective: 1000px;
    perspective-origin: 0% 60%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    form
    {
      label
      {
        text-align: right;
      }
    }
  }

  div.left div.floater
  {
    transform-origin: bottom right;
    transform: rotateY( -15deg ) translateZ(0px);
    transition: 0.25s;
  }

  div.right div.floater
  {
    transform-origin: bottom left;
    transform: rotateY(15deg ) translateZ(0px);
    transition: 0.25s;
  }

  div.left div.floater:hover, div.right div.floater:hover
  {
    transform: rotateY( 0deg );
    transition: 0.25s;
  }

}
