<% content_for :page_title do %>
  404 not found :(
<% end %>

<div id="everything">
  <div class="notfound">
    <h1>
      Unfortunately, I could not find a gallery by that name :(
    </h1>
  </div>
</div>
