/*
 *= require reset.scss
 *= require_self
 */

$dark: #033649;
$light: white;

@keyframes swiveltoright {
  from { transform: rotateY(0deg) scaleX( 1.0 ); }
  to { transform: rotateY(15deg) scaleX( 0.95 ); }
}

@keyframes swiveltoleft
{
  from { transform: rotateY(0deg) scaleX( 1.0 ); }
  to { transform: rotateY(-15deg) scaleX( 0.95 ); }
}

@keyframes pulse
{
  from { perspective: 0px; }
  to { perspective: 100px; }
}

html, body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Bitter', Serif;
}

body
{
  max-height: 100vh;
  perspective: 100vw;
  perspective-origin: 50% 55%;
  // animation: 0.5s pulse infinite alternate;
  overflow-y: auto;
}

div
{
  box-sizing: border-box;
}

div#container
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header
{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: $dark;

  h1
  {
    flex: 1 0 auto;
    font-size: 3vw;
    margin: 2vw 2vw 3.5vw 2vw;
    padding: 0;
    color: white;

    transform: rotateY(15deg);
    transform-origin: bottom left;
  }

  nav
  {
    margin: 2vw;

    div.error
    {
      color: white;
      font-size: 1vw;
      text-align: center;
      padding-bottom: 1vw;
    }

    form
    {
      color: $light;

      label
      {
        font-size: 1vw;
        margin-left: 1vw;
      }
      input
      {
        font-size: 1vw;
        background: rgba( 0, 0, 0, 0.25 );
        padding: 0.5vw;
        border: 0px;
        color: white;
      }
      input.button
      {
        padding: 0.5vw 1vw;
        margin-left: 1vw;
      }
    }
  }
}

div.slice
{
  max-width: 100%;
  display: flex;

  padding: 4vw;
  font-size: 1.25vw;

  justify-content: center;

  div.left, div.right, div.middle
  {
    flex: 1 0 auto;

    margin: 1vw;
    padding: 1vw;
    max-width: 40vw;

    h1, p
    {
      transform: translateZ(5vw);

      a
      {
        font-weight: bold;
      }
      a:hover
      {
        color: blue;
      }
    }

    h1
    {
      font-size: 2vw;
    }

    img
    {
      max-width: 100%;
      height: auto;

      box-shadow: 0 0.25vw 1vw rgba(0,0,0,0.5);
    }
  }

  div.left
  {
    img
    {
      transform: rotateY(15deg) scaleX( 0.95 );
      animation: 3s swiveltoright;
    }
  }

  div.right
  {
    img
    {
      transform: rotateY(-15deg) scaleX( 0.95 );
      animation: 3s swiveltoleft;
    }
  }

  div.middle
  {
    max-width: 50vw;
    h2
    {
      transform: rotateY( -15deg );
      font-size: 4vw;
      text-align: center;
      padding: 0.5vw;
    }

    div.error
    {
      text-align: center;
      color: red;
      margin-bottom: 1vw;
    }
    form
    {
      display: flex;
      flex-direction: column;

      align-items: center;

      div.tabular
      {
        flex: 1 0 auto;

        min-width: 90%;

        display: flex;

        div.labels
        {
          flex: 0 1 auto;
          display: flex;
          flex-direction: column;

          text-align: right;
        }

        div.inputs
        {
          flex: 1 0 auto;
          display: flex;
          flex-direction: column;

          input
          {
            padding-left: 0.5vw;
            font-size: 2vw;
            background-color: rgba(0,0,0,0.1);
          }
        }
      }
      div.button
      {
        width: 90%;
        display: flex;
        input.button
        {
          flex: 1 0 auto;
          text-align: center;
          font-size: 3vw;
          font-weight: bold;

          padding: 0.5vw;
          margin: 0.5vw 0;

          transform: rotateY( 15deg );
          transition: 0.1s;
        }
        input.button:hover
        {
          background-color: $dark;
          color: $light;
        }
        input.button:active
        {
          transform: scale( 0.9 ) rotateY( 15deg );
          box-shadow: 0 0 0;
        }
      }
      div.text
      {
        a
        {
          font-weight: bold;
        }
      }
      div
      {
        label, input
        {
          margin: 0.1vw;
          padding: 0.1vw 0.5vw;
          font-size: 2vw;
        }
      }

    }
  }
}

div.slice:nth-child(odd)
{
  background-color: $dark;
  color: $light;
}

div.slice:nth-child(even)
{
  background-color: $light;
  color: $dark;
}

footer
{
  flex: 1 0 auto;
  background-color: $dark;
  color: $light;
  display: flex;

  justify-content: center;

  padding: 1vw;

  font-size: 1.25vw;
  div
  {
    flex: 1 0 auto;

    padding: 1vw;
    margin: 1vw 1vw 2vw 1vw;
    max-width: 20vw;

    transform: translateZ(-5vw);

    h1
    {
      font-size: 1.5vw;
      margin: 0 0 1vw 0;
    }

    ul
    {
      padding: 0;
      li
      {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}
